# Execution results (may contain actual data)
/output/assessment_*.md
/output/assessment_*.json
/output/assessment_*.html
/output/assessment_*.pdf
/output/diff_*.md
/output/diff_*.json
/output/diff_*.html
/output/diff_*.pdf

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# UV
uv.lock

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Visual Studio Code
.vscode/

# Ruff stuff:
.ruff_cache/
